<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Angular JS Basics</title>

    <meta name="description" content="IT Survival AngularJS lecture">
    <meta name="author" content="IT Survival Team">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="base/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="base/reveal.js/css/theme/sky.css" id="theme">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="base/reveal.js/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'base/reveal.js/css/print/pdf.css' : 'base/reveal.js/css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!--[if lt IE 9]>
    <script src="base/reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

<!-- Any section element inside of this container is displayed as a slide -->
<div class="slides">
<section id="start">
    <h3><strong>AngularJS Basics</strong></h3>
    <h3><img class="logo" src="img/AngularJS-large.png"></h3>

	<p>
        <small>Marek Matczak, Jarosław Fuczko, Tomasz Szewców</small>
    </p>
</section>

	<section id="agenda">
		<h3>Agenda</h3>
		<ol>
			<li><a href="#/modules">Angular Modules</a></li>
			<li><a href="#/dependncy-injection">Dependency Injection</a></li>
			<li><a href="#/controllers">Controllers</a></li>
			<li><a href="#/services-factories">Services and Factories</a></li>
			<li><a href="#/useful-directives">Useful Directives</a></li>
			<li><a href="#/forms">Forms</a></li>
			<li><a href="#/backend-communication">Backend Communication</a></li>
			<li><a href="#/tests">Tests</a></li>
		</ol>
	</section>

<section>
	<section id="modules">
		<h3>What is an Angular module?</h3>

		<blockquote>
        You can think of a module as a <b>container</b> for the different parts of your app – controllers, services,
        filters, directives, etc.
    </blockquote>
		<p><small><a href="https://docs.angularjs.org/guide/module">https://docs.angularjs.org/guide/module</a></small></p>
	</section>
	<section>
		<h3>Module definition and retrieval</h3>
		<pre><code class="javascript" contenteditable data-trim>
        // define a module without dependencies
angular.module('moduleName', []);
		
// define a module with dependencies
angular.module('moduleName', ['dependency1', 'dependency2']);
		
// retrieve a module
angular.module('moduleName');
      </code></pre>
	  
	  <pre><code class="html" contenteditable data-trim>
        <!--Bootstrap application-->
<div ng-app='moduleName'></div>
      </code></pre>
		
	</section>
</section>

<section>
	<section id="dependncy-injection">
		<h3>Dependency Injection</h3>
		<blockquote>
        Dependency Injection (DI) is a software design pattern that deals with how components get hold of their dependencies.
		</blockquote>
		<blockquote>
The Angular injector subsystem is in charge of creating components, resolving their dependencies, and providing them to other components as requested.
		</blockquote>
		<p><small><a href="https://docs.angularjs.org/guide/di">https://docs.angularjs.org/guide/di</a></small></p>
	</section>
	<section>
	<h3>Injecting dependencies</h3>
	<pre><code class="javascript" contenteditable data-trim>
	angular.module('moduleName').controller('SomeController', function($scope, someService){
	'use strict';
	
	// add something to injected $scope
	$scope.data = {};
		
	// call injected service method
	someService.someMethod();
};
	</code></pre>
	</section>
</section>
	
	
<section>
	<section id="controllers">
		<h3>Controller recipe</h3>
		  <pre><code class="javascript" contenteditable data-trim>
	angular.module('someModule').controller('MyFirstController', function($scope){
    'use strict';

    $scope.helloWorld = 'hello world!';
    alert($scope.helloWorld);
});
		</code></pre>
				<pre><code class="html" contenteditable data-trim>
<!--use controller in the dialog template with the ng-controller directive -->
&lt!DOCTYPE html&gt
&lthtml&gt
    &ltbody&gt
        &ltsection data-ng-controller="MyFirstController"&gt
            &lth2&gtHello from Dialog A!&lt/h2&gt
        &lt/section&gt
    &lt/body&gt
&lt/html&gt
		  </code></pre>
	</section>
	
	<section>
		<h3>Controller recipe - alternative</h3>
		  <pre><code class="javascript" contenteditable data-trim>
	angular.module('someModule').controller('MyFirstController', function($scope){
    'use strict';
	
    var cntl = this;
	
    this.helloWorld = 'hello world!';
    alert(this.helloWorld);
});
		</code></pre>
				<pre><code class="html" contenteditable data-trim>
<!--use controller in the dialog template with the ng-controller directive -->
&lt!DOCTYPE html&gt
&lthtml&gt
    &ltbody&gt
        &ltsection data-ng-controller="MyFirstController as cntl"&gt
            &lth2&gtHello from Dialog A!&lt/h2&gt
	    &ltspan&gt{{cntl.helloWorld}}&lt/span&gt
        &lt/section&gt
    &lt/body&gt
&lt/html&gt
		  </code></pre>
	</section>
</section>

<section>
	<section id="services-factories">
		<h3>Service recipe (with <b>service</b>)</h3>
		  <pre><code class="javascript" contenteditable data-trim>
angular.module('someModule').service('myService', function(){
    'use strict';
        
    this.print = function(){
        alert('hello world from a service');
    };
});
		  </code></pre>
	</section>

	<section>
		<h3>Service recipe (with <b>factory</b>)</h3>
		 <pre><code class="javascript" contenteditable data-trim>
angular.module('someModule').factory('myService2', function(){
    'use strict'; 
        
    var helloWorld = 'hello world from a service2';

    return {
        print: function(){
            alert(helloWorld);
        }
    };

});
		  </code></pre>
	</section>
</section>

<section>
	<section id="useful-directives">
		<h3>Useful built-in directives</h3>
		<ul>
			<li>ngModel - two way binding</li>
			<li>ngBind - one way binding</li>
			<li>ngClick - calling an action</li>
			<li>ngRepeat - repeats the HTML element</li>
			<li>ngClass - applies css classes to a HTML element</li>
			<li>ngDisabled - adds the disabled attribute to a HTML element</li>
			<li>ngShow / ngHide - showing / hiding HTML element</li>
			<li>ngIf - removes or recreates a portion of DOM</li>
		</ul>
	</section>
	
	<section>
		<h3>Exercise 1</h3>
		<small>
			<ol>
				<li>Implement booksListCntl in the file books-list.controller.js</li>
				<ul>
					<li>add book array to the controller model - it should contain objects with title, author, genre, year properties</li>
					<li>add controller method for storing selected book table row index. It should set selected index to undefined when selected row is selected again</li>
					<li>add controller method for checking if the table row is selected</li>
				</ul>
				<li>Implement books-list.tpl.html template</li>
				<ul>
					<li>add html table into books-list.tpl.html template. Use ngRepeat and ngBind directives to display books in the table</li>
					<li>add three buttons under the table - Edit, Create and Delete</li>
					<li>edit and delete buttons should be disabled when there is no table row selected (ngDisabled directive)</li>
					<li>highlight selected row (css active class) when it is clicked (ngClass and ngClick directives)</li>
				</ul>
			</ol>
		</small>
	</section>
	<section>
		<h3>Exercise 1 solution mockup</h3>
		<img src="img/exercise_1.PNG" />
	</section>
</section>

<section>
	<section id="forms">
            <h3>Angular Forms</h3>
            <img src="img/angular-form.svg">
			<ul>
				<li>decoupled the model and the view</li>
				<li>worries about bidirectional model and view updating</li>
			</ul>
        </section>
	<section>
		<h3>Form example</h3>
		<pre><code data-trim class="xml">
<form name="myForm" novalidate>
    <input name="firstName" ng-model="user.firstName"/>
    <input name="lastName" ng-model="user.lastName"/>
    <input name="email" ng-model="user.email"/>
    <button ng-click="submit()">Submit</button>
</form></code></pre>

		<pre><code data-trim class="javascript">
myForm: {           //form name
    fistName:{},    //input name
    lastName:{},    //input name
    email:{}        //input name
}
                </code></pre>
	</section>
	
	<section>
		<h3>Form validation status</h3>
		<pre><code contenteditable data-trim>
myForm: {                                   //form name
    $dirty: false, $pristine: true,         //dirty or pristine
    $valid: false, $invalid: true,          //valid or invalid
    fistName: {                             //input name
        $dirty: false, $pristine: true,     //dirty or pristine
        $valid: false, $invalid: true,      //valid or invalid
        $error: {                           //validation for field
            required: true,                 //required validation
            minlength: false                //minlength validation
        }
    },
    email: {}                               //input name
}
                </code></pre>
	</section>
	
	<section>
		<h3>Exercise 2</h3>
		<small>
			<ol>
				<li>Add ui.bootstrap module dependency to the app.books-management module</li>
				<li>Implement html template for add book modal dialog</li>
				<ul>
					<li>Make all four inputs (author, title, genre, year) required (ngRequired)</li>
					<li>Make author and title inputs valid only when text length >= 3</li>
					<li>Make year input to accept only numbers from 1900 to 2500 (html input type='number' and min / max attributes)
					<li>Add has-error classes when fields are $invalid and $dirty</li>
					<li>Add "Add Book" and "Cancel" buttons - "Add" button is disabled when form is invalid</li>
				</ul>
				<li>Implement controller for modal dialog</li>
				<ul>
					<li>Create form object and connect it with the form in the html template</li>
					<li>Add methods for closing modal dialog ($modalInstance.close on add book button, $modalInstance.dismiss on cancel button)</li>
				</ul>
				<li>Inject $modal service into BooksListCntl controller</li>
				<li>Call $modal.open with correct parameter object on Add button click</li>
			</ol>
		</small>
		<p><small><strong>Branch with fallback solution when exercise 1 not done: step-2-first-controller</strong></small></p>
	</section>
	
	<section>
		<h3>Exercise 2 solution mockup</h3>
		<img src="img/exercise_2.PNG" />
	</section>
	
	<section>
		<h3>Exercise 3</h3>
		<small>
			<ol>
				<li>Implement html template for edit modal dialog</li>
				<li>Dialog should work similar to the Add Book dialog - the difference is that the selected book should be passed to the dialog controller (use resolve object)</li>
				<li>Call modal edit dialog on Edit button click</li>
			</ol>
		</small>
		<p><small><strong>Branch with fallback solution when exercise 2 not done: step-3-forms</strong></small></p>
	</section>
		
</section>

<section>
	<section id="backend-communication">
			<h3>Backend communication with $http service</h3>
		  <pre><code class="javascript" contenteditable data-trim>
		  // Simple GET request example:
$http({
  method: 'GET',
  url: '/someUrl'
}).then(function successCallback(response) {
    // this callback will be called asynchronously
    // when the response is available
  }, function errorCallback(response) {
    // called asynchronously if an error occurs
    // or server returns response with an error status.
  });
  
// shortcut methods
$http.get('/someUrl', config).then(successCallback, errorCallback);
$http.post('/someUrl', data, config).then(successCallback, errorCallback);
			</code></pre>
			<p><small><a href="https://docs.angularjs.org/api/ng/service/$http">https://docs.angularjs.org/api/ng/service/$http</a></small></p>
	</section>
	<section>
			<h3>Response object</h3>
			<ul>
				<li><b>data</b> – {string|Object} – The response body transformed with the transform functions.</li>
				<li><b>status</b> – {number} – HTTP status code of the response.</li>
				<li><b>headers</b> – {function([headerName])} – Header getter function.</li>
				<li><b>config</b> – {Object} – The configuration object that was used to generate the request.</li>
				<li><b>statusText</b> – {string} – HTTP status text of the response.</li>
			</ul>
			<p><small><a href="https://docs.angularjs.org/api/ng/service/$http">https://docs.angularjs.org/api/ng/service/$http</a></small></p>
	</section>
	<section>
	<h3>Exercise 4</h3>
		<small>
			<ol>
				<li>Implement angular service for backend communication - booksData</li>
				<li>booksData service should have the following methods:</li>
				<ul>
					<li>getBooks: $http.get('http://localhost:9000/services/books', {params: searchParams});</li>
					<li>addBook: $http.post('http://localhost:9000/services/book', book);</li>
					<li>updateBook: $http.put('http://localhost:9000/services/book', book);</li>
					<li>deleteBook: $http.delete('http://localhost:9000/services/book/' + id);</li>
				</ul>
				<li>Inject booksData service into controllers in order to support backend communication</li>
				<li>Add search form on top of the book-list dialog</li>
				<ul>
					<li>Hide the table when no results are found (use ngShow / ngHide)</li>
					<li>After clicking search button - pass the search params into booksData get method and copy the results into controller model</li>
				</ul>
				<li>1st stream - get books from the json file. Other methods should be written, but they won't work due to missing server implementation</li>
			</ol>
		</small>
		<p><small><strong>Branch with fallback solution when exercise 3 not done: step-4-edit-modal</strong></small></p>
	</section>
	
	<section>
		<h3>Exercise 4 solution mockup</h3>
		<img src="img/exercise_4.PNG" />
	</section>
	
	<section>
	<p>Branch with fallback solution after exercise 4:</p>
	<p>step-5-backend-communication</p>
	</section>
</section>

<section>
		<section id="tests">
			<h3>Unit testing - tools</h3>

			<ul>
				<li><strong>Karma</strong> - tool used to spawn a web server which loads your application's source code and executes your tests.</li>
				<li><strong>Jasmine</strong> - BDD framework for JavaScript, provides functions to help with structuring tests and making assertions.</li>
			</ul>
			<p><small><a href="https://docs.angularjs.org/guide/unit-testing">https://docs.angularjs.org/guide/unit-testing</a></small></p>
		</section>
		
		<section>
			<h3>Structuring tests</h3>
      <pre><code class="javascript" contenteditable data-trim>
          describe('A suite', function() {
      it('contains spec with an expectation', function() {
        expect(true).toBe(true);
      });
});
      </code></pre>
</section>

<section>
		<h3>Karma configuration</h3>
		  <pre class="fragment"><code class="javascript" contenteditable data-trim>
// install Karma
npm install karma
		  </code></pre>
				<pre class="fragment"><code class="javascript" contenteditable data-trim>
// install plugins
npm install karma-jasmine
npm install karma-phantomjs-launcher
npm install karma-chrome-launcher
		  </code></pre>
		  <pre class="fragment"><code class="javascript" contenteditable data-trim>
// run Karma
./node_modules/karma/bin/karma start / init / run
// alternative
npm install -g karma-cli
karma start / init / run
		  </code></pre>
		  <p><small><a href="http://karma-runner.github.io/0.13/intro/installation.html">http://karma-runner.github.io/0.13/intro/installation.html</a></small></p>
	</section>
	
	<section>
		<h3>Karma configuration file</h3>
		  <pre><code class="javascript" contenteditable data-trim>
// can be created with karma init command
module.exports = function (config) {
	config.set({
		basePath: '',
		frameworks: [],
		files: [],
	hostname: 'localhost',
		port: 9876,
		autoWatch: false,
		browsers: [],
		singleRun: false,
	})
};
// for debugging in a browser:
// - set single run to true
// - select other browser
		  </code></pre>
			  
		  <p><small><a href="http://karma-runner.github.io/0.8/config/configuration-file.html">http://karma-runner.github.io/0.8/config/configuration-file.html</a></small></p>
	</section>
</section>
	</section>
	
	<section>
		<h3>Testing a controller</h3>
		  <pre><code class="javascript" contenteditable data-trim>
describe('SampleCntl tests', function() {
	'use strict';

	var $scope;

	beforeEach(module('someModule'));

	beforeEach(inject(function($controller, $rootScope){
		$scope = $rootScope.$new();
		$controller('SampleCntl', {$scope: $scope});
	}));

	describe('some suite', function() {
		it('some spec', function() {
			// given 
			// when 
			$scope.someMethod();
			// then
		});
	});
});
		  </code></pre>
	</section>
	
	<section>
		<h3>Testing a controller - alternative</h3>
		  <pre><code class="javascript" contenteditable data-trim>
describe('SampleCntl tests', function() {
	'use strict';

	var cntl;

	beforeEach(module('someModule'));

	beforeEach(inject(function($controller){
		cntl = $controller('SampleCntl', {});
	}));

	describe('some suite', function() {
		it('some spec', function() {
			// given 
			// when 
			cntl.someMethod();
			// then
		});
	});
});
		  </code></pre>
	</section>
	
	<section>
		<h3>Testing controller with mocks</h3>
		  <pre><code class="javascript" contenteditable data-trim>
		// sample controller code
angular.module('someModule').controller('SomeCntl', function($scope, $location){
	'use strict';
	
	$scope.goToDialog = function(path){
		$location.path(path);
	}
});

// test code

var $scope, locationMock = {
	path: angular.noop
};
			
beforeEach(inject(function($controller, $rootScope){
	$scope = $rootScope.$new();
	// injection of mocked $location service
	$controller('SomeCntl', {$scope: $scope, $location: locationMock});
}));
		  </code></pre>
	</section>
	
	<section>
	<h3>Exercise 5</h3>
		<small>
			<ol>
				<li>Add tests for BookListCntl into the book-list.controller.spec.js</li>
				<li>Test all exposed methods</li>
				<li>For methods calling $modal service - add spy and check if spied method was called</li>
				<li>Run tests with gulp test command</li>
				<li>Run tests in debug mode with gulp test:tdd:debug command</li>
			</ol>
		</small>
	</section>
	
		<section id="testing-services">
			<h3>Testing a service</h3>
		  <pre><code class="javascript" contenteditable data-trim>
	  describe('data service tests', function () {
	  'use strict';

	  var someDataService;
	  
	  beforeEach(module('app'));

	  beforeEach(inject(function (_someDataService_) {
		someDataService = _someDataService_;
	  }));

	  describe('get data method', function () {
		  it('should return data', function () {
			  // given
			  var data = [];
			  // when
			  data = someDataService.getData();
			  // then
			  expect(data.length).toEqual(10);
		  });
	  });
});
		  </code></pre>
	</section>

	<section>
		<h3>Testing service with mocks</h3>
		  <pre><code class="javascript" contenteditable data-trim>
// sample service code
angular.module('someModule').factory('serviceUnderTests', function('otherService'){
	'use strict';
	var data = [];
	
	return {
		getData: function(){
			angular.copy(otherService.getData(), data);
		},
		getCurrent: function(){
			return data;
		}
	};
});

// test code
var otherServiceMock = {getData: function(){return [1,2,3]}};
var serviceUnderTests;

beforeEach(function(){
	module('someModule');
	
	module(function($provide){
		// injecting other service with $provide service
		$provide.value('otherService', otherServiceMock);
	);
});
beforeEach(function(_serviceUnderTests_){
	serviceUnderTests = _serviceUnderTests_;
});
		  </code></pre>
	</section>

	<section>
		<h3>Testing with $httpBackend</h3>
		  <pre><code class="javascript" contenteditable data-trim>
var booksData, $httpBackend;

beforeEach(inject(function (_booksData_, _$httpBackend_) {
	booksData = _booksData_;
	$httpBackend = _$httpBackend_;
}));

afterEach(function () {
	// then
	$httpBackend.verifyNoOutstandingExpectation();
	$httpBackend.verifyNoOutstandingRequest();
});

it('should load books', function () {
	// given
	var searchParams = {title: 'title', author: 'author'}, books = [], response = [
		{id: 0, title: 'title1'},
		{id: 1, title: 'title2'}
	];
	$httpBackend.expectGET('/books-management/books-list/books.json?author=author&title=title').respond(response);
	// when
	booksData.getBooks(searchParams).then(function (response) {
	books = response.data;
	});
	$httpBackend.flush();
	// then
	expect(books).toEqual(response);
	});
		  </code></pre>
	</section>
	
	<section>
	<h3>Exercise 6</h3>
		<small>
			<ol>
				<li>Add tests for booksData service in the books-data.service.spec.js</li>
				<li>Test all exposed methods</li>
				<li>Use $httpBackend and remember to call $httpBackend.flush()</li>
				<li>Run tests with gulp test command</li>
				<li>Run tests in debug mode with gulp test:tdd:debug command</li>
			</ol>
		</small>
	</section>
	
	<section>
	<p>Fallback branches for exercies 5 and 6:</p>
	<p>step-6-testing-controller</p>
	<p>step-7-testing-service</p>
	</section>
</section>

</div>

</div>
<script src="base/reveal.js/lib/js/head.min.js"></script>
<script src="base/reveal.js/js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: 'concave', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            { src: 'base/reveal.js/lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: 'base/reveal.js/plugin/markdown/marked.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: 'base/reveal.js/plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: 'base/reveal.js/plugin/highlight/highlight.js', async: true, condition: function () {
                return !!document.querySelector('pre code');
            }, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: 'base/reveal.js/plugin/zoom-js/zoom.js', async: true },
            { src: 'base/reveal.js/plugin/notes/notes.js', async: true }
        ]
    });

</script>

</body>
</html>
